# Dependencies
node_modules/

# Environment
.env
.DS_Store

# Hardhat
artifacts/
cache/
typechain-types/
coverage/
coverage.json

# Backend
backend/dist/
backend/node_modules/
backend/.env

# Frontend
frontend/dist/
frontend/node_modules/
frontend/.env
frontend/.DS_Store

# Misc
*.log
